<div style="background-color: #4682B4;">
    <div class="login-background">
        <div class="container-login">
            <p id="error" style="text-align: center; color: red;"></p>
            <form method="POST" action="/change-password">
                <div class="form-control-login">
                    <input type="password" name="oldpassword" required>
                    <label>Mật khẩu hiện tại</label>
                </div>

                <div class="form-control-login">
                    <input type="password" name="password" id="password" required>
                    <label>Mật khẩu mới</label>
                </div>

                <div class="form-control-login">
                    <input type="password" name="confirm_password" id="confirm_password" required>
                    <label>Nhập lại mật khẩu mới</label>
                    <p id="message"></p>
                </div>

                <button class="btn-login">Change Password</button>

                <p class="text" style="text-align: center;">Quay lại <a href="/home">trang chủ</a> </p>
            </form>
        </div>
    </div>
</div>

<script>
    const labels = document.querySelectorAll('.form-control-login label')

    labels.forEach(label => {
        label.innerHTML = label.innerText
            .split('')
            .map((letter, idx) => `<span style="transition-delay:${idx * 50}ms">${letter}</span>`)
            .join('')
    })


    ////// set error ////////
    $('#password, #confirm_password').on('keyup', function () {
        if ($('#password').val() == $('#confirm_password').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
    });



    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    const er = document.getElementById('error')
    let cookie = getCookie("error-change-password")

    if (cookie != '') {
        er.innerHTML = "Mật khẩu không chính xác"
        document.cookie = "error-change-password=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }

    cookie = getCookie("successfully-change-password")
    if (cookie != '') {
        er.innerHTML = "Thay đổi mật khẩu thành công"
        document.cookie = "successfully-change-password=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }

</script>