@media screen and (max-width: 1200px) {
    /* .search-web form {
        padding-top: 10px;
    } */
}
@media screen and (max-width: 992px) {
    .heading-menu {
        position: fixed;
        top: 0px;
        z-index: 10;
        height: 100%;
        max-width: 400px;
        padding: 0px;
        background-color: white;
    }
    #nav-menu .nav-link {
        color: rgb(87, 87, 87);
    }
    #nav-menu .nav-item {
        border-right: none;
        width: 350px;
    }
    #nav-menu .nav-item:hover {
        background-color: rgb(199, 199, 199);
    }
    .heading-menu .category-menu {
        display: block;
    }
    .heading-menu .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn-menu {
        display: block;
    }
    .user-infor {
        display: none;
    }
    .car-web {
        align-items: flex-start;
    }
    .car-web .btn-car {
        border: none;
        font-size: 24px;
    }
    /* open-user-infor */
    .open-user-infor {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    header .heading-sub {
        max-width: 768px;
    }
    .logo-web {
        padding-left: 0px;
        padding-right: 0px;
    }
    .row {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}

@media screen and (max-width: 576px) {
    .btn-menu .btn {
        float: none;
    }
}