* {
    margin: 0px;
    padding: 0px;
}

.clear-float {
    clear: both;
}

.btn:focus {
    box-shadow: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.product-compartment {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-compartment span {
    display: block;
    margin-right: 20px;
    color: #c69a39;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.product-compartment hr {
    display: block;
    background-color: #c69a39;
}

.btn-filter {
    margin-left: 10px;
    background-color: #000066;
    color: white;
}

/* filter */

.box-filter {
    background-color: white;
    display: block;
    height: 200px;
    width: 300px;
    position: fixed;
    top: 100px;
    z-index: 50;
    padding: 10px 20px;
    border: 2px solid #000066;
    border-top: 30px solid #000066;
    box-shadow: 3px 3px 15px rgb(75, 75, 75);
    border-radius: 5px;
}

.price-range-filter .form-control {
    width: 100px;
    display: inline-block;
    border: 1px solid rgb(156, 156, 156);
    margin: 5px;
}

.price-range-filter .form-group {
    margin-top: 10px;
}

.price-range-filter .form-group hr {
    display: inline-block;
    background-color: rgb(156, 156, 156);
    width: 10px;
    vertical-align: middle;
}

.price-range-filter .btn {
    background-color: #c69a39;
    color: white;
}

/* close-box-filter */

.close-box-filter {
    background-color: #000066;
    display: block;
    height: 40px;
    width: 40px;
    position: fixed;
    top: 320px;
    z-index: 50;
    border-radius: 50%;
    color: white;
    font-size: 26px;
    text-align: center;
    line-height: 40px;
    padding: 0px;
    box-shadow: 3px 3px 15px rgb(75, 75, 75);
}

/* profile */

.user-profile {
    background-color: white;
    width: 1000px;
    display: block;
    margin: auto;
    padding: 1rem 1.5rem;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 100px;
    box-shadow: 2px black;
}

.user-profile hr {
    margin: 20px 0px;
    display: block;
    height: 10px;
    color: rgb(221, 221, 221);
}

.container p {
    text-align: left;
}

.title-user-profile {
    width: 400px;
}

.title-user-profile h6 {
    font-size: 24px;
}

.change-password a {
    text-decoration: underline;
    color: black;
    position: absolute;
    top: 60px;
    right: 1.5rem;
}

.title-user-profile span {
    font-size: 16px;
}

.replace-img-user {
    position: absolute;
    top: 170px;
    right: 100px;
    /* background-color: aqua; */
}

.img-user {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    z-index: 100;
    border: 3px solid rgb(221, 221, 221);
    margin: auto;
    padding: 6px;
}

.img-user img {
    display: block;
    border-radius: 50%;
}

.btn-choose-photo {
    margin-top: 1rem;
}

.user-profile table {
    border-right: 1px solid rgb(221, 221, 221);
}

.user-profile table tr td {
    padding: 20px;
}

.user-profile table tr td:nth-child(1) {
    text-align: right;
}

.user-profile table tr td:nth-child(2) {
    width: 500px;
}

.profile-sex form input:not(.profile-sex form input:nth-child(1)) {
    margin-left: 10px;
}

.profile-email td a,
.profile-numberphone td a {
    color: blue;
    text-decoration: underline;
}

.profile-birdthday form input {
    width: 100px;
    padding: 5px;
}

.profile-birdthday form input {
    margin-right: 10px;
}

.adress-profile input {
    padding: 5px;
    width: 100%;
}

.btn-save-profile-user {
    background-color: #c58d15;
    margin-top: 30px;
    margin-left: 120px;
    width: 80px;
    color: white;
}
