<header class="header_bg">
    <div class="dropdown">
        <button class="dropbtn">Chức năng</button>
        <div class="dropdown-content">
            <a href="/admin">Trang chủ</a>
            <a href="/admin/items">Quản lí tất cả các sản phẩm</a>
            <a href="/admin/create">Thêm sản phẩm vào kho</a>
        </div>
    </div>
</header>

<div class="admin_body container">
    <div class="testimonial-container">
        <div class="progress-bar"></div>
        <div class="fas fa-quote-right fa-quote"></div>
        <div class="fas fa-quote-left fa-quote"></div>
        <p class="testimonial">
            Nếu bạn cứ tiếp tục ca thán về cùng một nỗi buồn, cùng một việc nhỏ nhặt, bạn sẽ mãi mãi chìm đắm trong
            thất
            bại và sống một cuộc đời nhỏ bé. Hãy luôn nhớ rằng, ngay cả một ngày tồi tệ nhất cũng chỉ có 24 tiếng
            đồng
            hồ.
        </p>
    </div>
</div>

<script src="/js/home_admin.js"></script>