{{> headerAdmin}}

<div class="container"
    style="padding: 20px; background-color: white; margin-top: 20px; margin-bottom: 50px; border-radius: 10px;">


    <div class="product-compartment row">
        <span>Quản lí doanh thu</span>
        <hr class="col ">
    </div>

    <div class="row">
        <div class="col-3">
            <div class="counter orderday">
                <p>Số đơn hàng hôm nay</p>
                <h2>0</h2>
            </div>
        </div>
        <div class="col-3">
            <div class="counter revenueday">
                <p>Doanh thu hôm nay</p>
                <h2>0</h2>
            </div>
        </div>
        <div class="col-3">
            <div class="counter ordermonth">
                <p>Số đơn hàng tháng này</p>
                <h2>0</h2>
            </div>
        </div>
        <div class="col-3">
            <div class="counter revenuemonth">
                <p>Doanh thu tháng này</p>
                <h2>0</h2>
            </div>
        </div>
    </div>

</div>


<script>
    const orderday = document.querySelector('.counter.orderday h2')
    const ordermonth = document.querySelector('.counter.ordermonth h2')
    const revenueday = document.querySelector('.counter.revenueday h2')
    const revenuemonth = document.querySelector('.counter.revenuemonth h2')

    function counterUp(el, to) {
        let speed = 300
        let from = 0
        let step = to / speed
        const counter = setInterval(function () {
            from += step
            if (from > to) {
                clearInterval(counter)
                from = to
            }

            a = Math.ceil(from) + ''
            let mn = a.split('').reverse(), count = 0
            res = ''
            for (let i = 0; i < mn.length; i++) {
                count++
                res += mn[i]
                if (count % 3 == 0 && i != mn.length - 1)
                    res += '.'
            }
            el.innerText = res.split('').reverse().join('')
        }, 1)
    }


    counterUp(orderday, 5)
    counterUp(ordermonth, 1230)
    counterUp(revenueday, 23000000)
    counterUp(revenuemonth, 294456000)
</script>