<header class="header_bg">
    <div class="dropdown">
        <button class="dropbtn" style="text-shadow: 2px 2px 5px red;">Admin Controller</button>
        <div class="dropdown-content">
            <a href="/admin">Trang chủ</a>
            <a href="/admin/items">Quản lí tất cả các sản phẩm</a>
            <a href="/admin/create">Thêm sản phẩm vào kho</a>
            {{#if data_order.admin}}
            <hr>
            <a href="/admin/revenue">Quản lí doanh thu</a>
            <a href="/admin">Quản lí user</a>
            {{/if}}
            <hr>
            <a href="/home" style="margin-bottom: 10px;">Thoát trang admin</a>
        </div>
    </div>
</header>


<div class="container">
    {{!-- enctype="multipart/form-data" --}}
    <form method="POST" action="/admin/create" enctype="multipart/form-data">
        <div class="form-floating">
            <label for="floatingTextarea2"
                style="margin-top: 10px; box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2); z-index: 1;">Name
                Product</label>
            <textarea class="form-control" placeholder="Name Item" id="name" name="name"
                style="height: 100px"></textarea>
        </div>

        <div class="form-floating">
            <label for="floatingTextarea2" style="margin-top: 10px;">Description</label>
            <textarea class="form-control" placeholder="Description product" id="description" name="description"
                style="height: 100px;"></textarea>
        </div>

        <div class="form-floating">
            <select class="form-select" id="manufacturer" name="manufacturer"
                style="height: 50px; width: 100%; margin-top: 10px; ">
                <option selected>-- Hãng sản xuất --</option>
                <option value="iphone">Iphone</option>
                <option value="samsung">Samsung</option>
                <option value="oppo">OPPO</option>
                <option value="sony">Sony</option>
                <option value="nokia">Nokia</option>
                <option value="xiaomi">Xiaomi</option>
                <option value="realme">Realme</option>
            </select>
        </div>

        <div class="form-floating mb-3">
            <label for="floatingInput" style="margin-top: 10px;">Price</label>
            <input class="form-control" id="price" name="price">
        </div>

        <div class="form-floating mb-3">
            <label for="floatingInput" style="margin-top: 10px;">Quantity</label>
            <input class="form-control" id="quantity" name="quantity">
        </div>

        <label for="exampleFormControlFile1" style="margin-top: 10px; margin-bottom : 10px">Image</label>

        <div class="form-group">
            <input type="file" class="form-control" id="images" name="images" aria-describedby="inputGroupFileAddon04"
                aria-label="Upload">
        </div>
        <div class="form-group">
            <input type="file" class="form-control" id="images" name="images" aria-describedby="inputGroupFileAddon04"
                aria-label="Upload">
        </div>
        <div class="form-group">
            <input type="file" class="form-control" id="images" name="images" aria-describedby="inputGroupFileAddon04"
                aria-label="Upload">
        </div>
        <div class="form-group">
            <input type="file" class="form-control" id="images" name="images" aria-describedby="inputGroupFileAddon04"
                aria-label="Upload">
        </div>
        <div class="form-group">
            <input type="file" class="form-control" id="images" name="images" aria-describedby="inputGroupFileAddon04"
                aria-label="Upload">
        </div>
        <div class="form-group">
            <input type="file" class="form-control" id="images" name="images" aria-describedby="inputGroupFileAddon04"
                aria-label="Upload">
        </div>
        <div class="form-group">
            <input type="file" class="form-control" id="images" name="images" aria-describedby="inputGroupFileAddon04"
                aria-label="Upload">
        </div>
        <div class="form-group">
            <input type="file" class="form-control" id="images" name="images" aria-describedby="inputGroupFileAddon04"
                aria-label="Upload">
        </div>

        <input style="margin-left: 48%;" type="submit" value="Add product">

    </form>
</div>